header{
    background-color: #4A2B33;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 70px;
    color: #D27487;
}

.nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.nav button{
    background-color: #4A2B33;
    border: 0;
    color: #D27487;
}