.FirstSection{
    width: 100vw;
    height: 700px;
    background-color: #4A2B33;
}

/* .FirstSection img{
    width: 1000px;
    height: 600px;
    object-fit: cover;
} */

.fade-in-out {
    width: 1000px;
    height: 600px;
    position: absolute;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in-out.hidden {
    opacity: 0;
  }