.Button{
    width: 500px;
    height: 50px;
    margin: 10px;
    border: #6F6F64 solid 2px;
    background-color: #E9E9E3;
}

.Button p{
    font-size: 15px;
    color: #6F6F64;
}

.Button:active{
    background-color: #6F6F64;
}

.Button p:active{
    color: #E9E9E3;
}